.init {
    background: var(--preto);
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
}

.settings-img{
    filter: invert(50%);
    width: 25%;
    padding: 0.5em;
    align-items: center;
}


.username-ltbx{
    color: var(--branco);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    align-items: center;
    padding: 1.2em;
}

.photo-user{
    border-radius: 100%;
}
.profile-photo{
    display: flex;
    justify-content: center;
    padding: 8%;
}